cache:
  directories:
    - $HOME/.gradle
    - $HOME/helm

services:
  - docker

jobs:
  include:
    # - stage: lint
    #   language: node_js
    #   node_js: 12
    #   before_install:
    #     - cd frontend
    #   install:
    #     - yarn
    #   script:
    #     - yarn type-check
    #     - yarn tslint
    #     - yarn sasslint
    # - language: java
    #   java: 11
    #   before_install:
    #     - cd backend
    #     - chmod +x ./gradlew
    #   install:
    #     - ./gradlew
    #   script:
    #     - ./gradlew checkstyleMain

    # # Backend test
    # - stage: test
    #   language: java
    #   java: 11
    #   env:
    #     - MYSQL_ROOT_PASSWORD=rootpassword
    #     - MYSQL_HOST=localhost
    #     - MYSQL_PORT=3306
    #     - MYSQL_DATABASE=etf
    #     - MYSQL_USER=etf
    #     - MYSQL_PASSWORD=password
    #   before_install:
    #     - cd backend
    #     - chmod +x ./gradlew
    #   install:
    #     - ./gradlew
    #   before_script:
    #     - docker run -d --name backend-mysql
    #       -e MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
    #       -e MYSQL_DATABASE=$MYSQL_DATABASE
    #       -e MYSQL_USER=$MYSQL_USER
    #       -e MYSQL_PASSWORD=$MYSQL_PASSWORD
    #       -p 3306:3306 mysql:5
    #   script:
    #     - ./gradlew test --stacktrace

    - stage: helm
      before_install:
        # Install Helm
        - |
          # if [ ! -d "$HOME/helm/bin" ]; then
            rm -rf "$HOME/helm"
            wget https://get.helm.sh/helm-v2.16.1-linux-amd64.tar.gz
            tar xf helm-v2.16.1-linux-amd64.tar.gz
            mkdir -p $HOME/helm/bin
            mv linux-amd64/* $HOME/helm/bin
            helm init --client-only
            helm plugin install https://github.com/hayorov/helm-gcs
          # fi
        - export PATH=$PATH:$HOME/helm/bin

      script:
        - helm repo add micalgenus https://chart.micalgenus.com/
      # if: branch = release
    # # Deployment
    # - stage: deploy
    #   if: branch = master
