cache:
  directories:
    - $HOME/.gradle

jobs:
  include:
    - stage: lint
      language: node_js
      node_js: 12
      before_install:
        - cd frontend
      install:
        - yarn
      script:
        - yarn type-check
        - yarn tslint
    - language: java
      java: 11
      before_install:
        - cd backend
        - chmod +x ./gradlew
      script:
        - ./gradlew check

    # Backend test
    - stage: test
      language: java
      java: 11
      before_install:
        - cd backend
        - chmod +x ./gradlew
      script:
        - ./gradlew test
        # - ./gradlew integrationTest
        # - ./gradlew wholeTest

    # Deployment
    - stage: deploy
      if: branch = master
