version: "3.7"

services:
  backend-mysql:
    image: mysql:5
    restart: always
    env_file: ./.env.backend
    volumes:
      - backend-mysql:/var/lib/mysql
  backend-watchman:
    image: openjdk:11
    working_dir: /spring/
    command: ./tools/watchman.sh
    volumes:
      - ./backend/:/spring/
      - type: tmpfs
        target: /spring/.gradle
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile.dev
    env_file: ./.env.backend
    ports:
      - 8080:8080
      - 8443:8443
      - 35729:35729
    volumes:
      - ./backend/:/spring/
      - gradle:/root/.gradle/
    restart: always
    depends_on:
      - backend-mysql
    links:
      - backend-mysql

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile.dev
    working_dir: /node/
    command: /bin/bash -c "yarn && yarn dev"
    ports:
      - 3000:3000
    volumes:
      - ./frontend/:/node/

  gateway:
    build:
      context: ./gateway
      dockerfile: ./Dockerfile.dev
    working_dir: /node/
    command: /bin/bash -c "yarn && yarn dev"
    ports:
      - 3030:3030
    volumes:
      - ./gateway/:/node/

volumes:
  gradle:
  backend-mysql:
