jobs:
  include:
    # Backend test
    - stage: test
      language: java
      java: 11
      env:
        - MYSQL_HOST=localhost
        - MYSQL_PORT=3306
        - MYSQL_DATABASE=etf
        - MYSQL_USER=travis
        - MYSQL_PASSWORD=password
      before_install:
        - cd backend
        - chmod +x ./gradlew
        - |
          mysql -e 'CREATE DATABASE '$MYSQL_DATABASE';'
          mysql -e 'CREATE USER "user"@"%" IDENTIFIED BY "password";'
          mysql -e 'GRANT ALL PRIVILEGES ON '$MYSQL_DATABASE'.* TO "'$MYSQL_DATABASE'"@"%";'
          mysql -e 'FLUSH PRIVILEGES;'
        - mysql -u $MYSQL_USER -p$MYSQL_PASSWORD -e 'SHOW DATABASES';
      install:
        - ./gradlew
      before_script:
        - mysql -u $MYSQL_USER -p$MYSQL_PASSWORD -e 'SHOW DATABASES';
      script:
        - ./gradlew test --stacktrace
