jobs:
  include:
    # Backend test
    - stage: test
      language: java
      java: 11
      env:
        - MYSQL_HOST=localhost
        - MYSQL_PORT=3306
        - MYSQL_DATABASE=etf
        - MYSQL_USER=travis
      before_install:
        - cd backend
        - chmod +x ./gradlew
        - mysql -e 'CREATE DATABASE '$MYSQL_DATABASE'; GRANT ALL PRIVILEGES ON '$MYSQL_DATABASE'.* TO "'$MYSQL_DATABASE'"@"%";'
      install:
        - ./gradlew
      script:
        - ./gradlew test --stacktrace
