jobs:
  include:
    # Backend test
    - stage: test
      language: java
      java: 11
      env:
        - MYSQL_ROOT_PASSWORD=rootpassword
        - MYSQL_HOST=localhost
        - MYSQL_PORT=$(./tools/find-port.sh)
        - MYSQL_DATABASE=etf
        - MYSQL_USER=etf
        - MYSQL_PASSWORD=password
      before_install:
        - cd backend
        - chmod +x ./gradlew
      install:
        - ./gradlew
      before_script:
        - docker run -d --name backend-mysql-$TRAVIS_JOB_NUMBER
          -e MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
          -e MYSQL_DATABASE=$MYSQL_DATABASE
          -e MYSQL_USER=$MYSQL_USER
          -e MYSQL_PASSWORD=$MYSQL_PASSWORD
          -p $MYSQL_PORT:3306 mysql:5
        - |
          until mysqladmin \
            --host=$MYSQL_HOST \
            --port=$MYSQL_PORT \
            --user=$MYSQL_USER \
            --password=$MYSQL_PASSWORD \
            status
          do
            echo waiting for MySQL
            sleep 2
          done
      script:
        - ./gradlew test --stacktrace
