spring:
  devtools:
    livereload:
      enabled: true
    add-properties: true
    restart:
      enabled: true
      log-condition-evaluation-delta: true
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update # 운영시에는 validate 추천
    show-sql: true

server:
  ssl:
    enabled: true
    key-store: keystore.p12
    key-store-password: changeit
    key-store-type: PKCS12
  port: 8443

google:
  client:
    clientId: ${GOOGLE_OAUTH_CLIENT}
    clientSecret: ${GOOGLE_OAUTH_SECRET}
    accessTokenUri: https://accounts.google.com/o/oauth2/token
    userAuthorizationUri: https://accounts.google.com/o/oauth2/auth
    clientAuthenticationScheme: form
    scope:
      - email
      - profile
  resource:
    userInfoUri: https://www.googleapis.com/oauth2/v2/userinfo
