name: github-actions/pull-request/backend
on:
  pull_request:
    branches:
      - develop
    paths:
      - backend/**

env:
  MYSQL_HOST: 127.0.0.1
  MYSQL_PORT: 3306
  MYSQL_USER: etf
  MYSQL_PASSWORD: password
  MYSQL_ROOT_PASSWORD: rootpassword

jobs:
  check:
    name: Code checking

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/cache@v1
        with:
          path: ~/.gradle
          key: backend-${{ matrix.java }}-${{ hashFiles('backend/.gradle') }}
          restore-keys: backend-${{ matrix.java }}

      - working-directory: backend
        run: ./gradlew check -x test --stacktrace

      - working-directory: backend
        run: ./gradlew build -x test -x checkstyleMain --stacktrace

  test:
    name: Test
    needs: check

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 9, 10, 11]

    services:
      mysql:
        image: mysql:5
        env:
          MYSQL_USER: etf
          MYSQL_PASSWORD: password
          MYSQL_DATABASE: etf
          MYSQL_ROOT_PASSWORD: rootpassword
        ports:
          - 3306:3306/tcp

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - uses: actions/cache@v1
        with:
          path: ~/.gradle
          key: backend-${{ matrix.java }}-${{ hashFiles('backend/.gradle') }}
          restore-keys: backend-${{ matrix.java }}

      - name: Waiting for launch MySQL
        run: |
          while ! mysqladmin ping -h${{ env.MYSQL_HOST }} -uroot -p${{ env.MYSQL_ROOT_PASSWORD }} --silent; do
            sleep 1
          done

      - working-directory: backend
        run: ./gradlew test -x checkstyleMain --stacktrace

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: gradle-${{ github.sha }}
          path: ./backend/build
